<% content_for :for_head do %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<% end %>

Welcome to the MTG Commander Turn Timer

<%= content_tag :div, id: 'details', data: {players: @players, duration: @duration} do %>
<% end %>

<% @players.times.with_index do |index| %>
  <span class="timer-<%= index + 1 %>">
  </span>
<% end %>


<%= javascript_include_tag 'main.js', :type => "module" %>